body{
    margin: 0;
    background-color:  #222222;
    color: #EFEFED;
    overflow-x: hidden;
}
.center{
    margin: auto;
    width: 90vw;
    border: solid 2px black; 
    /* border: solid 2px white;  */
    padding: 10px;
    text-align: center;
}
.background-img-setup {
  object-fit: cover;
  height:auto;
  text-align: center;
  color: #222121;
  background-color: rgba(0, 0, 0, 1);
}
.white-text-border {
    text-shadow: 
    1px 1px 5px rgb(255, 255, 255),
    -1px -1px 5px rgb(255, 255, 255),
    1px -1px 5px rgb(255, 255, 255),
    -1px 1px 5px rgb(255, 255, 255);  
}
.black-text-border {
    text-shadow: 
    1px 1px 5px rgb(0, 0, 0),
    -1px -1px 5px rgb(0, 0, 0),
    1px -1px 5px rgb(0, 0, 0),  
    -1px 1px 5px rgb(0, 0, 0);  
}
.but{
    background-color: #717171;
    border: 1px solid #121212;
}
.collapsible {
    background-color: #717171;
    color: #121212;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}
.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #222222;
  color: #EFEFED;
  border: 2px solid black;
}
.active, .collapsible:hover {
  background-color: #46474a;
}
.space-pad{
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: solid black;
  border-bottom: solid black;
}
#game_link{
  font-size: 20px;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(1 * 100vh);
  padding: 5px;
  justify-content: space-between;
  /* margin: 0 auto; */
  /* padding: 10px; */
  /* overflow: hidden; */
}
.subcontainer{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.fixed-button {
  position: absolute; /* Fixes the button 
  inside the container */
  height: 1vh;
  width: 1vw;
  /* change button position */
  top: 20px;
  left: 20px; 
  /* change button position end */
  padding: 10px 20px;
  background-color: #717171;
  border: none;
  cursor: pointer;
  /* recentering the text on the button*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* recentering the text on the button end*/
}
.toc{
  margin-top: 5px;
  border: 2px solid black;
  width: fit-content;
  padding-right: 10px;
}
.toc ol a{
  text-decoration: none;
  color:white;
}
.f5050{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right{
  flex:1;
  padding: 20px;
}
.left{
  flex:1;
}

* {box-sizing:border-box}

.slideshow{
  max-width: 1000px;
  position: relative;
  margin:auto;
}
.slide{
  display: none;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  right:0;
  border: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.Scaption{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.botbord{
  border-bottom: 2px solid black ;
}
.clickable:hover{
  cursor: pointer;
}
